div {
  box-sizing: border-box;
}

figure {
  padding: 0;
  margin: 0;
}

figcaption {
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

label {
  display: block;
  position: relative;
	width: 1em;
	height: 1em;
	padding: 0.3em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label:not(:has(input:checked)):hover .checkmark {
	background-color: rgb(173, 216, 230);
}

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
	position: absolute;
	left: calc(1.3em - 1em);
	top: calc(1.3em - 1em);
  width: 1em;
  height: 1em;
  background-color: white;
	border-radius: 50%;
}

.checkmark:after {
	display: none;
	transform: translate(50%, 50%);
	content: '';
	width: 50%;
	height: 50%;
	background-color: blue;
	border-radius: 50%;
}

input:checked ~ .checkmark:after {
	display: block;
}

.container {
  max-width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  min-width: 100%;
  height: 100%;
}

.slider {
  display: flex;
  width: 90vw;
  height: 45vh;
  padding: 1.5em 2em;
  flex-direction: column;
  gap: 1em;
  background-color: grey;
}

.slider__item {
  flex-shrink: 0;
  width: 100%;
}

.slider__control-panel {
	display: flex;
	gap: 5px;
  align-self: center;
}

.slider__gallery {
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  touch-action: none;
}

.slider__gallery::-webkit-scrollbar {
  display: none;
}

.slider__gallery img {
  border-radius: 0.8em;
}

.slider__control-panel {
  align-self: center;
}

.slider__title {
  align-self: start;
  color: white;
  opacity: 1;
  transition: opacity 0.2s;
}

.slider__footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

@media screen and (min-width: 678px) {
  .slider {
    width: 70vw;
    height: 50vh;
  }

  .slider__footer {
    flex-direction: row-reverse;
  }

  .slider__control-panel {
    align-self: initial;
  }

  .slider__title {
    align-self: initial;
    margin-right: auto;
  }

  .slider__gallery {
  }
  /*.slider__gallery img {*/
  /*min-height: auto;*/
  /*}*/
}

@media screen and (min-width: 1440px) {
  .slider {
    width: 50vw;
    height: 60vh;
  }
}
