:root {
	--transtion: 0.6s;
}

.container {
	height: 100vh;
	width: 70%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}


img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 3%;
	opacity: 0;
	transition: var(--transtion);
}

.circle {
	width: calc(0.5em + 0.5vw);
	height: calc(0.5em + 0.5vw);
	border-radius: 50%;
	background-color: #ffffff;
}

.slider {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em 2em;
	background-color: #36454F;

	.slider__body {
		position: relative;
		width: 200px;
		height: 200px;
		display: flex;
		overflow: hidden;
	}

	.slider__fake-input {
		display: none;
	}

	.slider__footer {
		display: flex;
		flex-direction: column;
		gap: 1em;
		.slider__title {
			position: relative;
			width: 10em;
			height: 1rem;
			color: #ffffff;
			& > * {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				transition: var(--transtion);
			}
		}
	}

	.slider__control-panel {
		display: flex;
		align-self: center;
		gap: 1em;
	}

	.slider__switcher {
		padding: 0.3em;
		cursor: pointer;
	}

}

@media screen and (min-width: 678px) {
	.slider {
		.slider__body {
			width: 500px;
			height: 500px;
		}
		.slider__footer {
			flex-direction: row-reverse;
			justify-content: space-between;
		}
		.slider__control-panel {
			align-self: initial;
		}
	}
}

/* images */
#mem0:checked ~ .slider__body img:nth-child(1) {
	opacity: 1;
}

#mem1:checked ~ .slider__body img:nth-child(2) {
	opacity: 1;
}

#mem2:checked ~ .slider__body img:nth-child(3) {
	opacity: 1;
}

#mem3:checked ~ .slider__body img:nth-child(4) {
	opacity: 1;
}

#mem4:checked ~ .slider__body img:nth-child(5) {
	opacity: 1;
}

/* labels */
label:hover .circle {
	background-color: #ffff80;
}

#mem0:checked ~ .slider__footer .slider__control-panel label[for="mem0"] .circle {
	background-color: #ADD8E6;
}

#mem1:checked ~ .slider__footer .slider__control-panel label[for="mem1"] .circle {
	background-color: #ADD8E6;
}

#mem2:checked ~ .slider__footer .slider__control-panel label[for="mem2"] .circle {
	background-color: #ADD8E6;
}

#mem3:checked ~ .slider__footer .slider__control-panel label[for="mem3"] .circle {
	background-color: #ADD8E6;
}

#mem4:checked ~ .slider__footer .slider__control-panel label[for="mem4"] .circle {
	background-color: #ADD8E6;
}

/* title */
#mem0:checked ~ .slider__footer .slider__title .slider__title-mem0 {
	opacity: 1;
}

#mem1:checked ~ .slider__footer .slider__title .slider__title-mem1 {
	opacity: 1;
}

#mem2:checked ~ .slider__footer .slider__title .slider__title-mem2 {
	opacity: 1;
}

#mem3:checked ~ .slider__footer .slider__title .slider__title-mem3 {
	opacity: 1;
}

#mem4:checked ~ .slider__footer .slider__title .slider__title-mem4 {
	opacity: 1;
}
